/*
This is a CSS Rule
It's made of two parts:
 - a selector
 - a set of declarations (that live between the curly braces)

.selector {
    font-size: 12px; // declarations are made up of a property-name and its value
    font-family: Helvetica, Arial, sans-serif; // each declaration must be separated by a semi-colon
}
*/
#banner {
    background-image: url(images/sierra.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    padding-top: 10px;
}

img {
    flex-flow: column;
    width: 50%;
}

.section img{
    float: right;
    width: 30%;
}

